.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 24px;
  text-align: center;
}

.description {
  font-size: 0.9rem;
  color: var(--color-text-sub);
  margin: 24px 40px;
  text-align: center;
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.writer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  border-right: 1px solid var(--color-border);
  margin-right: 40px;
}

.writerIcon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.writerName {
  margin-left: 16px;
}

.thumbnail {
  width: 960px;
  height: auto;
  margin-bottom: 64px;
}

.content {
  width: 720px;
}

.content *:first-child {
  margin-top: 0;
}

.content > h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
  margin: 2.8rem 0 1rem;
}

.content > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2.8em 0 1rem;
}

.content > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > p {
  margin: 2rem 0 0.5rem;
  line-height: 2;
}

.content > pre {
  overflow-x: auto;
}

.content pre > code {
  background-color: var(--color-bg-code);
  display: block;
  overflow-x: auto;
  padding: 16px;
}

.content div[data-filename]::before {
  display: inline-block;
  background-color: var(--color-bg-sub);
  content: attr(data-filename);
  margin: 1em 0 0;
  font-family: menlo, inconsolata, monospace;
  font-size: 0.8rem;
  padding: 4px 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.content ul,
.content ol {
  margin: 0.5rem 0 0.5rem 2rem;
}

.content > ul,
.content > ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content ul > li {
  list-style: disc;
}

.content ol > li {
  list-style: decimal;
}

.content li {
  margin: 0.5rem 0;
}

.content a {
  text-decoration: underline;
}

.content > figure {
  margin: 2rem 0;
}

.content > figure img {
  max-width: 100%;
  height: auto;
}

.content > figure figcaption {
  font-size: 0.8rem;
  color: var(--color-text-sub);
}

.content > strong {
  font-weight: bold;
}

.content > blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
  font-style: italic;
  margin: 2rem 0;
}

.content > hr {
  margin: 4rem 0;
  height: 1px;
  background-color: var(--color-border);
  border: none;
}

.content > table {
  width: 100%;
  margin: 2rem 0;
}

.content > table th {
  background-color: var(--color-bg-sub);
  text-align: left;
  padding: 1rem;
}

.content > table td {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 640px) {
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .description {
    font-size: 0.9rem;
    color: var(--color-text-sub);
    margin: 24px 0 40px;
    text-align: center;
  }

  .meta {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 0.9rem;
  }

  .writer {
    padding-right: 24px;
    margin-right: 24px;
  }

  .writerIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .writerName {
    margin-left: 16px;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .content {
    width: 100%;
  }
}
