.container {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--font-size-xLarge);
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
}

.text {
  font-size: var(--font-size-small);
  text-align: center;
}
