.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 24px 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border-light);
}
