.list {
  margin-bottom: 40px;
}

.link {
  display: flex;
  gap: 40px;
}

.image {
  width: 240px;
  height: auto;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .link {
    display: block;
  }
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }
}
